@model IEnumerable<ReviewsSite.Models.Toppings>
@{ Layout = null; }

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Toppings Index</title>
    </head>
    <body>
        <h1>Topping Review Site!</h1>
            <p>Welcome to our website. This is where you will be able to review some of your favorite pizza toppings.</p>
        <hr />

        @foreach(var toppings in Model)
        {
         <article>

             <h3>Name: <a href="/Toppings/Details/@toppings.Id">@toppings.Name</a> | <a href="/Toppings/Update/@toppings.Id">Edit Topping</a> | <a href="/Toppings/Delete/@toppings.Id">Delete topping</a> </h3>
                        <img src="/images/@toppings.Img" alt"Toppings Image" width="500" height="500" />

            
         </article>
        }

        <h1><a href="/Toppings/Create">Add a Topping to our site</a></h1>

    </body>
</html>
