@{ Layout = null; }

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Toppings Index</title>
    </head>
    <body>
        <h1>Topping Review Site!</h1>
        <p>Welcome to our website. This is where you will be able to review some of your favorite pizza toppings.</p>
    </body>
</html>
