@model IEnumerable<ReviewsSite.Models.Toppings>
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toppings Index</title>
    <link rel="StyleSheet" type="text/css" href="~/styles/IndexStyleSheet.css" />
</head>
<body>
    <header>
        <h1>Topping Review Site!</h1>
        <p>Welcome to our website. This is where you will be able to review some of your favorite pizza toppings.</p>
    </header>


    @foreach (var toppings in Model)
    {
        <div class="box">
            <div class="imgBx">
                <img src="/images/@toppings.Img" alt"Toppings Image" />
            </div>
            <div class="content">
                <h3>Name: <a href="/Toppings/Details/@toppings.Id">@toppings.Name</a> </h3>
                <h4>Average Rating: @toppings.AverageReview() / 5</h4>
                <p>Description: @toppings.Description </p>
                <a href="/Toppings/Update/@toppings.Id"><button>Edit Topping</button></a> <a href="/Toppings/Delete/@toppings.Id"><button>Delete topping</button></a>
            </div>
        </div>
    }

    <h1><a href="/Toppings/Create">Add a Topping to our site</a></h1>

</body>
</html>
